.App {
  padding: 2% 2% 2% 2%;
}


.tab{
  border: 3px solid black;
  height: 40vh;
}

.leftmenu{
  position: relative;
  width: 200px;
  height: 200px;
}

img {
  position: absolute;
  margin: auto;
}

.image{
    min-height: 50px;
    top: 500px;
    bottom: 0;
}

.pixelated{
  image-rendering: pixelated;
}