.store-info{
    margin-right: 2%; 
    margin-left: 3%; 
    margin-top: 2%; 
    float:left; 
    width:90%;
    height: 50px;
}

.image-info{
    float:left; 
    width:12%;
    height: 50px;
}

.description-info{ 
    float:left;
    width:88%; 
    height: 50px;
}

.player-info{
    text-align: center;
    padding: 2%;
}

.avatar{
    border-radius: 50%;
    border: 3px solid black;
    width: 100px;
}

.store-name{
    border: 3px solid black;
}

.money-image-info{
    float:left; 
    width:12%;
    height: 50px;
}

.money-description-info{ 
    float:left;
    width:88%; 
    height: 50px;
}
